@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

html body{
    background-color: rgb(249, 246, 246);
}

header{
    background-image: linear-gradient(to top, rgb(51, 47, 47), rgb(185, 85, 195));
    margin: 20px;
    padding: 10px;
}

div header h1{
    color: rgb(61, 58, 58);
    font-size: 90px;
    padding: 20px;
    text-shadow: .5px .5px rgb(92, 91, 91);
}
#show{
    color:rgb(20, 213, 220);
    text-shadow: 2px 2px 4px black;
    font-size: 90px;
}

#shows .input {
    width: 20%;

}

nav{ 
    width: 36%;
}


.row{
    background-color: rgb(177, 174, 174);
    margin: 20px;
    padding: 20px;
}

section .subtitle{
    font-size: 30px;
  
}

div .links{
    margin: 10px;
    padding: 10px;
}

img {
    box-shadow: 2px 2px 4px whitesmoke;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}